body {
    /*background-image: url('imgs/background.jpg');*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    color: white;
}
html {
    background: url("imgs/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 100%;*/
}
.content {
    text-align: center;
    padding-top: 20%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.reviewBlock {
    background-color: rgba(119,119,119,0.5);

}
#review {
    font-size: 3.0em;
    text-decoration: underline;
    font-style: italic;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.4);
    /*text-decoration: overline;*/
}
.pText {
    font-style: italic;
    font-size: 1.5em;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
h1 {
    font-weight: 700;
    font-size: 5.0em;
}

hr {
    width: 600px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}